In [51]:
!pip install -q kaggle

In [52]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [53]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [54]:
from sklearn import preprocessing
from tensorflow.python import keras
from sklearn.impute import SimpleImputer
import tensorflow as tf
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Dropout

In [55]:
!cp "/content/gdrive/My Drive/Colab Notebooks/Projects/kaggle.json" .

In [56]:
!mkdir -p ~/.kaggle

In [57]:
!cp kaggle.json ~/.kaggle/

In [58]:
!chmod 600 ~/.kaggle/kaggle.json

In [59]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
train.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)

In [60]:
# Import train & test data 
test = pd.read_csv('/content/test.csv')
train = pd.read_csv('/content/train.csv')

In [61]:
# View the training data
train.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [62]:
test.head(5)

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [63]:
encoder = preprocessing.LabelEncoder()

In [64]:
cat_features = ["Sex", "Embarked"]

In [65]:
train["Embarked"] = train["Embarked"].astype(str)

In [66]:
encoded_train = train[cat_features].apply(encoder.fit_transform)
encoded_test = test[cat_features].apply(encoder.fit_transform)

In [67]:
num_features = ["Survived","Pclass","Age","SibSp","Parch","Fare"]
test_features= ["Pclass","Age","SibSp","Parch","Fare"]

In [68]:
training_data = train[num_features].join(encoded_train)
test_data = test[test_features].join(encoded_test)

In [69]:
training_data.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex  Embarked
0         0       3  22.0      1      0   7.2500    1         2
1         1       1  38.0      1      0  71.2833    0         0
2         1       3  26.0      0      0   7.9250    0         2
3         1       1  35.0      1      0  53.1000    0         2
4         0       3  35.0      0      0   8.0500    1         2

In [70]:
test_data.head()

   Pclass   Age  SibSp  Parch     Fare  Sex  Embarked
0       3  34.5      0      0   7.8292    1         1
1       3  47.0      1      0   7.0000    0         2
2       2  62.0      0      0   9.6875    1         1
3       3  27.0      0      0   8.6625    1         2
4       3  22.0      1      1  12.2875    0         2

In [71]:
training_data.isnull().sum()

Survived      0
Pclass        0
Age         177
SibSp         0
Parch         0
Fare          0
Sex           0
Embarked      0
dtype: int64

In [72]:
test_data.isnull().sum()

Pclass       0
Age         86
SibSp        0
Parch        0
Fare         1
Sex          0
Embarked     0
dtype: int64

In [73]:
my_imputer = SimpleImputer()
imputed_train = pd.DataFrame(my_imputer.fit_transform(training_data))
imputed_test_data = pd.DataFrame(my_imputer.fit_transform(test_data))

In [74]:
imputed_train.head()

     0    1     2    3    4        5    6    7
0  0.0  3.0  22.0  1.0  0.0   7.2500  1.0  2.0
1  1.0  1.0  38.0  1.0  0.0  71.2833  0.0  0.0
2  1.0  3.0  26.0  0.0  0.0   7.9250  0.0  2.0
3  1.0  1.0  35.0  1.0  0.0  53.1000  0.0  2.0
4  0.0  3.0  35.0  0.0  0.0   8.0500  1.0  2.0

In [75]:
imputed_train.columns = training_data.columns
imputed_test_data.columns = test_data.columns

In [76]:
imputed_train.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex  Embarked
0       0.0     3.0  22.0    1.0    0.0   7.2500  1.0       2.0
1       1.0     1.0  38.0    1.0    0.0  71.2833  0.0       0.0
2       1.0     3.0  26.0    0.0    0.0   7.9250  0.0       2.0
3       1.0     1.0  35.0    1.0    0.0  53.1000  0.0       2.0
4       0.0     3.0  35.0    0.0    0.0   8.0500  1.0       2.0

In [77]:
X = imputed_train.drop("Survived", axis = 1)
y = imputed_train["Survived"]

In [78]:
tf.random.set_seed(42)

In [79]:
model = Sequential()

In [80]:
model.add(Dense(7, activation = "relu", input_shape = (7,)))
model.add(Dropout(0.2))

In [81]:
model.add(Dense(50, activation = "relu"))
model.add(Dropout(0.2))
model.add(Dense(50, activation = "relu"))

In [82]:
model.add(Dense(2, activation = "softmax"))

In [83]:
model.compile(loss=keras.losses.sparse_categorical_crossentropy, optimizer = "adam", metrics = ['accuracy'])

In [84]:
model.fit(X, y,
          batch_size=1,
          epochs=700,
          validation_split = 0.2,
          verbose = 0)

In [86]:
preds = model.predict(imputed_test_data)
print(preds)

[[7.43901551e-01 2.56098479e-01]
 [3.42808813e-01 6.57191217e-01]
 [6.95310831e-01 3.04689199e-01]
 [7.45227814e-01 2.54772156e-01]
 [1.89237937e-01 8.10762048e-01]
 [7.32963026e-01 2.67037004e-01]
 [8.56571421e-02 9.14342940e-01]
 [6.82197452e-01 3.17802578e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.56297410e-01 2.43702605e-01]
 [7.48401225e-01 2.51598716e-01]
 [6.05851710e-01 3.94148260e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.12539792e-01 2.87460208e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.66334808e-01 3.33665222e-01]
 [7.22611308e-01 2.77388692e-01]
 [1.70463488e-01 8.29536498e-01]
 [1.06451645e-01 8.93548369e-01]
 [5.67242742e-01 4.32757288e-01]
 [4.64437753e-02 9.53556240e-01]
 [7.96694309e-02 9.20330584e-01]
 [3.50063980e-01 6.49935961e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.74009347e-01 2.25990653e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.24064171e-01 2.75935799e-01]
 [5.70610285e-01 4.29389745e-01]
 [7.48722196e-01 2.51277775e-01]
 [6.99482024e-01 3.00518036e-01]
 [6.82624936e-01 3.17375034e-01]
 [3.35500598e-01 6.64499342e-01]
 [3.17486167e-01 6.82513833e-01]
 [4.22725081e-01 5.77274978e-01]
 [7.20178425e-01 2.79821575e-01]
 [1.20268591e-01 8.79731357e-01]
 [8.53437036e-02 9.14656281e-01]
 [7.43188798e-01 2.56811291e-01]
 [7.36958981e-01 2.63040990e-01]
 [7.45708406e-01 2.54291654e-01]
 [5.13513684e-01 4.86486316e-01]
 [7.58061409e-01 2.41938621e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.43558943e-01 2.56441057e-01]
 [4.87579644e-01 5.12420416e-01]
 [7.40002930e-01 2.59997070e-01]
 [7.96694309e-02 9.20330584e-01]
 [3.02648038e-01 6.97351933e-01]
 [4.91581023e-01 5.08418918e-01]
 [6.52578294e-01 3.47421765e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.55014455e-01 3.44985545e-01]
 [7.64050543e-01 2.35949457e-01]
 [7.52685070e-01 2.47314915e-01]
 [7.43623495e-01 2.56376445e-01]
 [7.56509900e-01 2.43490055e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.36113608e-01 2.63886362e-01]
 [6.72490537e-01 3.27509403e-01]
 [7.37087429e-01 2.62912512e-01]
 [7.96694309e-02 9.20330584e-01]
 [1.22311592e-01 8.77688408e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [5.87757528e-01 4.12242502e-01]
 [4.07504886e-01 5.92495143e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.39856958e-01 2.60143012e-01]
 [1.15007870e-01 8.84992063e-01]
 [3.94465297e-01 6.05534732e-01]
 [7.96694309e-02 9.20330584e-01]
 [9.90825817e-02 9.00917411e-01]
 [7.48365521e-01 2.51634449e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.70491099e-01 3.29508871e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.16007687e-03 9.92839932e-01]
 [5.02326429e-01 4.97673541e-01]
 [6.22686446e-01 3.77313465e-01]
 [7.48401225e-01 2.51598716e-01]
 [6.63035750e-01 3.36964220e-01]
 [7.40211368e-01 2.59788692e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [8.63497630e-02 9.13650215e-01]
 [7.70886987e-02 9.22911227e-01]
 [1.26100048e-01 8.73899877e-01]
 [7.48429358e-01 2.51570672e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.48365521e-01 2.51634449e-01]
 [3.77280861e-01 6.22719169e-01]
 [7.43589222e-01 2.56410748e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.47232974e-01 2.52766967e-01]
 [8.31116214e-02 9.16888356e-01]
 [7.50843227e-01 2.49156803e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.75575852e-01 3.24424118e-01]
 [7.40002930e-01 2.59997070e-01]
 [7.44515896e-01 2.55484164e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.42896795e-01 2.57103175e-01]
 [7.31258631e-01 2.68741339e-01]
 [7.40002930e-01 2.59997070e-01]
 [7.48211801e-01 2.51788229e-01]
 [6.60573483e-01 3.39426517e-01]
 [6.63396418e-01 3.36603522e-01]
 [8.63284022e-02 9.13671613e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.28627205e-01 2.71372795e-01]
 [7.31707036e-01 2.68292934e-01]
 [7.96694309e-02 9.20330584e-01]
 [3.68773222e-01 6.31226718e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.50190377e-01 2.49809638e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.46475160e-01 2.53524840e-01]
 [7.40002930e-01 2.59997070e-01]
 [9.21721831e-02 9.07827854e-01]
 [7.40811050e-01 2.59188920e-01]
 [1.81847110e-01 8.18152845e-01]
 [6.83193386e-01 3.16806555e-01]
 [7.42605507e-01 2.57394463e-01]
 [7.49936700e-01 2.50063300e-01]
 [5.36692500e-01 4.63307559e-01]
 [3.40923190e-01 6.59076810e-01]
 [7.42106259e-01 2.57893741e-01]
 [7.59822011e-01 2.40178019e-01]
 [7.42651701e-01 2.57348329e-01]
 [7.27915347e-01 2.72084653e-01]
 [6.66325271e-01 3.33674729e-01]
 [9.22054946e-02 9.07794535e-01]
 [7.98385978e-01 2.01614067e-01]
 [4.16583657e-01 5.83416402e-01]
 [7.96694309e-02 9.20330584e-01]
 [4.40306008e-01 5.59694052e-01]
 [6.65324509e-01 3.34675491e-01]
 [5.82208514e-01 4.17791456e-01]
 [7.75930583e-01 2.24069446e-01]
 [4.75378364e-01 5.24621665e-01]
 [7.40750968e-01 2.59249002e-01]
 [5.13513684e-01 4.86486316e-01]
 [6.87174976e-01 3.12825054e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.31354177e-01 2.68645853e-01]
 [7.68921971e-01 2.31078044e-01]
 [3.05810094e-01 6.94189966e-01]
 [7.80735791e-01 2.19264194e-01]
 [7.42723286e-01 2.57276744e-01]
 [7.96694309e-02 9.20330584e-01]
 [9.23761129e-02 9.07623947e-01]
 [5.82208574e-01 4.17791396e-01]
 [1.96241707e-01 8.03758264e-01]
 [8.63619968e-02 9.13638055e-01]
 [1.77424382e-02 9.82257545e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.48609066e-01 2.51390904e-01]
 [6.82144880e-01 3.17855060e-01]
 [2.08110645e-01 7.91889310e-01]
 [4.74015683e-01 5.25984347e-01]
 [7.65520930e-01 2.34479114e-01]
 [7.96694309e-02 9.20330584e-01]
 [8.80771503e-02 9.11922872e-01]
 [7.48481512e-01 2.51518458e-01]
 [7.28394270e-01 2.71605670e-01]
 [7.50475764e-01 2.49524191e-01]
 [7.31515527e-01 2.68484503e-01]
 [7.95180380e-01 2.04819664e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [5.67287564e-01 4.32712406e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.70491099e-01 3.29508871e-01]
 [4.72882837e-01 5.27117193e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.40002930e-01 2.59997070e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.80291176e-01 3.19708824e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.56385446e-01 2.43614569e-01]
 [6.37771308e-01 3.62228692e-01]
 [6.81094587e-01 3.18905413e-01]
 [6.82956815e-01 3.17043245e-01]
 [5.14342010e-01 4.85657960e-01]
 [7.47186780e-01 2.52813220e-01]
 [6.93587720e-01 3.06412309e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.50888348e-01 2.49111623e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.64517879e-01 3.35482121e-01]
 [1.20199762e-01 8.79800200e-01]
 [8.08443949e-02 9.19155538e-01]
 [3.44056502e-07 9.99999642e-01]
 [2.77286738e-01 7.22713292e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.66047573e-01 3.33952427e-01]
 [4.07415330e-01 5.92584610e-01]
 [1.02700695e-01 8.97299290e-01]
 [6.65283084e-01 3.34716827e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.43565798e-01 2.56434232e-01]
 [7.46577144e-01 2.53422827e-01]
 [7.48597443e-01 2.51402497e-01]
 [6.47438169e-01 3.52561802e-01]
 [7.96694309e-02 9.20330584e-01]
 [5.74392200e-01 4.25607800e-01]
 [5.58645904e-01 4.41354126e-01]
 [8.62552822e-02 9.13744748e-01]
 [5.75921535e-01 4.24078435e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.48365521e-01 2.51634449e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.39820421e-01 2.60179579e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.39880741e-01 2.60119319e-01]
 [7.96694309e-02 9.20330584e-01]
 [1.03799649e-01 8.96200299e-01]
 [7.41739333e-01 2.58260667e-01]
 [8.63497630e-02 9.13650215e-01]
 [7.55973160e-01 2.44026855e-01]
 [6.76874876e-01 3.23125064e-01]
 [6.46782398e-01 3.53217602e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.50371456e-01 2.49628514e-01]
 [7.39972234e-01 2.60027707e-01]
 [4.55114841e-01 5.44885159e-01]
 [7.38934278e-01 2.61065781e-01]
 [5.95852077e-01 4.04147893e-01]
 [7.21640170e-01 2.78359860e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [4.43079203e-01 5.56920826e-01]
 [7.48403251e-01 2.51596808e-01]
 [7.68952489e-01 2.31047511e-01]
 [6.03017926e-01 3.96982014e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.97836220e-01 3.02163839e-01]
 [7.96694309e-02 9.20330584e-01]
 [8.69955346e-02 9.13004458e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.38917410e-01 2.61082560e-01]
 [3.00891370e-01 6.99108660e-01]
 [7.42305160e-01 2.57694870e-01]
 [7.50055432e-01 2.49944568e-01]
 [7.48481512e-01 2.51518458e-01]
 [7.40002930e-01 2.59997070e-01]
 [7.46288598e-01 2.53711402e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.39885628e-01 2.60114342e-01]
 [7.61728227e-01 2.38271803e-01]
 [7.39866853e-01 2.60133147e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.55364275e-01 3.44635755e-01]
 [7.48401225e-01 2.51598716e-01]
 [5.53337097e-01 4.46662903e-01]
 [7.48481512e-01 2.51518458e-01]
 [1.20268591e-01 8.79731357e-01]
 [7.35930085e-01 2.64069945e-01]
 [4.25405741e-01 5.74594259e-01]
 [7.40002930e-01 2.59997070e-01]
 [7.96694309e-02 9.20330584e-01]
 [1.20415673e-01 8.79584312e-01]
 [7.31516540e-01 2.68483490e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.69031441e-01 3.30968499e-01]
 [6.89210892e-01 3.10789019e-01]
 [6.80091918e-01 3.19908053e-01]
 [6.63751662e-01 3.36248249e-01]
 [9.16737095e-02 9.08326328e-01]
 [1.52805820e-03 9.98471916e-01]
 [8.63497630e-02 9.13650215e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.53732681e-01 2.46267378e-01]
 [7.48551130e-01 2.51448900e-01]
 [4.58111793e-01 5.41888177e-01]
 [7.31515527e-01 2.68484503e-01]
 [7.48365521e-01 2.51634449e-01]
 [4.93844390e-01 5.06155550e-01]
 [8.61518756e-02 9.13848162e-01]
 [7.31515527e-01 2.68484503e-01]
 [6.37310565e-01 3.62689435e-01]
 [7.53217697e-01 2.46782273e-01]
 [7.44487524e-01 2.55512446e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.48722196e-01 2.51277775e-01]
 [4.83341873e-01 5.16658127e-01]
 [7.47249424e-01 2.52750546e-01]
 [7.50000179e-01 2.49999776e-01]
 [6.55119836e-01 3.44880134e-01]
 [6.90483510e-01 3.09516549e-01]
 [7.42461264e-01 2.57538706e-01]
 [8.63497630e-02 9.13650215e-01]
 [7.96694309e-02 9.20330584e-01]
 [4.84317839e-01 5.15682161e-01]
 [8.38152118e-07 9.99999166e-01]
 [6.37021959e-01 3.62978041e-01]
 [3.22777182e-01 6.77222788e-01]
 [7.36869514e-01 2.63130456e-01]
 [7.23580420e-01 2.76419610e-01]
 [7.48475790e-01 2.51524270e-01]
 [1.10478409e-01 8.89521539e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [4.48346704e-01 5.51653266e-01]
 [6.61448121e-01 3.38551879e-01]
 [7.45416880e-01 2.54583120e-01]
 [6.80524111e-01 3.19475859e-01]
 [7.44515896e-01 2.55484164e-01]
 [7.26474106e-01 2.73525923e-01]
 [6.66325271e-01 3.33674729e-01]
 [5.29632747e-01 4.70367223e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.41915345e-01 2.58084714e-01]
 [7.96694309e-02 9.20330584e-01]
 [4.19582099e-01 5.80417871e-01]
 [6.77693844e-01 3.22306156e-01]
 [6.62496090e-01 3.37503910e-01]
 [7.96694309e-02 9.20330584e-01]
 [4.52194214e-01 5.47805846e-01]
 [7.31516540e-01 2.68483490e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.45407164e-01 2.54592866e-01]
 [5.12729108e-01 4.87270951e-01]
 [6.72626197e-01 3.27373773e-01]
 [7.54431307e-01 2.45568618e-01]
 [6.61950886e-01 3.38049114e-01]
 [7.31515527e-01 2.68484503e-01]
 [6.60678566e-01 3.39321464e-01]
 [7.50045419e-01 2.49954551e-01]
 [8.05021942e-01 1.94978088e-01]
 [2.79099718e-02 9.72090006e-01]
 [7.63961434e-01 2.36038551e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.66325271e-01 3.33674729e-01]
 [8.27045441e-02 9.17295456e-01]
 [6.64698780e-01 3.35301250e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.66047573e-01 3.33952427e-01]
 [6.48221791e-01 3.51778179e-01]
 [7.04696059e-01 2.95303971e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.28235102e-01 3.71764868e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.48405099e-01 2.51594841e-01]
 [7.40002930e-01 2.59997070e-01]
 [1.79427326e-01 8.20572674e-01]
 [8.09192896e-01 1.90807134e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.45227814e-01 2.54772156e-01]
 [7.96694309e-02 9.20330584e-01]
 [5.71914852e-01 4.28085178e-01]
 [7.40210354e-01 2.59789646e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.54366493e-01 3.45633507e-01]
 [6.73122168e-01 3.26877862e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.36626363e-01 3.63373578e-01]
 [6.85284793e-01 3.14715236e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.96694309e-02 9.20330584e-01]
 [2.41289824e-01 7.58710206e-01]
 [6.62789285e-01 3.37210685e-01]
 [6.22074842e-01 3.77925187e-01]
 [7.74035573e-01 2.25964472e-01]
 [7.40002930e-01 2.59997070e-01]
 [7.35973656e-01 2.64026314e-01]
 [1.13349877e-01 8.86650205e-01]
 [1.10924713e-01 8.89075339e-01]
 [6.70816541e-01 3.29183429e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.42670298e-01 2.57329673e-01]
 [6.98693752e-01 3.01306218e-01]
 [7.31275797e-01 2.68724203e-01]
 [7.60647237e-01 2.39352793e-01]
 [3.72408271e-01 6.27591729e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.10144997e-01 2.89854914e-01]
 [6.89068198e-01 3.10931832e-01]
 [7.80122280e-01 2.19877735e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.34239697e-01 2.65760273e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.40815997e-01 2.59183973e-01]
 [7.40683675e-01 2.59316325e-01]
 [7.96694309e-02 9.20330584e-01]
 [6.88456595e-01 3.11543375e-01]
 [7.96694309e-02 9.20330584e-01]
 [4.05108005e-01 5.94891906e-01]
 [5.44234157e-01 4.55765754e-01]
 [6.47341192e-01 3.52658808e-01]
 [6.75518513e-01 3.24481428e-01]
 [3.60187292e-01 6.39812708e-01]
 [8.63711983e-02 9.13628817e-01]
 [8.48380104e-02 9.15161967e-01]
 [8.63497630e-02 9.13650215e-01]
 [7.96694309e-02 9.20330584e-01]
 [1.11068591e-01 8.88931394e-01]
 [7.48365521e-01 2.51634449e-01]
 [7.96694309e-02 9.20330584e-01]
 [7.55971730e-01 2.44028240e-01]
 [7.48365521e-01 2.51634449e-01]
 [7.45781720e-01 2.54218310e-01]]

In [87]:
predictions = np.array(model.predict(imputed_test_data)).argmax(axis=1)

In [88]:
print(predictions)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 1 1 1 0 1 0 0 0 0 0 1 1 1 0 1
 1 0 0 0 0 0 1 1 0 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1 0 0 0 1 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 1 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 1 1 1 0 1 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 1 1 1 1 0 0 1 0 0 1 1 0 0 0 0
 1 0 1 0 0 0 0 0 1 1 1 1 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 1 1 1 1 1 1 0 1 0 0 0]